/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Maksukortti2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti2/Maksukortti/target/
/FinanceTrackerApp/target/
/FinanceTrackerApp/nbproject/
/FinanceTrackerApp/resources/
/FinanceTrackerApp/testResources/
/FinanceTrackerApp/keys.properties
